@import '../element/index.scss';
@import '../transition/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  background-color: #f8f8f8;
}

:root {
  --main-bg-color: red;
}

.menu-icon {
  margin-right: 5px;
}
