/* 页面切换动画
****************/

.page-leave-active,
.page-enter-active {
  will-change: opacity transform;
  transition: all 0.28s ease;
}

.page-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.page-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
